/*
File: style.css
Name: Neil Gaspar
Date: March 18, 2018
Description: This file contains the style for my webpage. This file holds various div tags and colour schemes
             to make the site have a layout and scheme to it.
Disclaimer: some div tags are from DivTable.com they start at the denoted "/* DivTable.com" and end at it to
*/

header{
    display: block;
    color: orange;
    font-weight: bold;
    width: 100%;
}

body {
    background-color: steelblue;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    color: black;
    width: 95%;
}

img{
    max-width: 100%;
    height: auto;
}

img.dc{
    max-width: auto;
    height: 200px;
    float: right;
}

img.catimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe{
    max-width: 95%;
}

footer{
    color: orange;
    font-weight: bold;
    text-align: right;
}

nav{
    background: azure;
    color: black;
    border: 1px solid black;
	display: block;
    padding: 3px 10px;
    width: auto;
}

a{
    color: orange;
}

a:visited {
    color: orange;
}

a:active{
    color: orangered;
}

a:hover{
    color: black;
}

.cat {
    display: block;
    float: left;
    margin: 5px;
    padding: 15px;
    width: 300px;
    height: auto;
    border: 1px solid black;
    min-height: 400px;
} 

.header{
    float: left;
    margin: 5px;
    padding: 15px;
    width: 95%;
    height: auto;
}

.container{
    min-height: 450px;
}