/*
	File: style.css
    Author: Neil Gaspar
    Date Last Modified: April 8, 2018
    Description: Style for the website
*/

body {
	background: #64646475;
}

header{
	font-size: 40px;
	font-weight: bold;
}

nav {
    background: White;
    color: red;
}

footer{
	text-align: center;
}

.body{
    display: block;
    float: left;
    margin: 5px;
    padding: 15px;
    width: 97%;
    height: auto;
    min-height: 400px;
}

p.missing{
    color: red;
}